@require '../../shared/framework.styl'

$bodyPadding = 1.5rem

.root
  background: $conjureColorMain
  border-bottom: 1px solid $conjureColorMainSlightlyDark
  display: block
  height: 6rem
  
  .wrap
    align-items: center
    display: flex
    flex-direction: row
    max-width: 80rem
    margin: 0 auto
    padding: 0 $bodyPadding
  
    > h1
      clear: none
      color: $conjureColorMainDark
      disableSelect()
      flex-grow: 1
      font-size: 1.6rem
      line-height: 2rem
      
      sup
        font-size: 2rem

  .userNav
    align-self: flex-end
    clear: none
    display: block
    height: 6rem
    position: relative
    width: 3rem + $bodyPadding + $bodyPadding

    .avatar
      display: block
      background: transparent url('/nada') no-repeat center center
      background-size: cover
      border-radius: 2rem
      height: 3rem
      position: absolute
      right: $bodyPadding
      top: $bodyPadding
      width: 3rem
    
    .links
      display: none
      
    &:hover
      background: $black
      
      .links
        background: $black
        display: block
        position: absolute
        right: 0rem
        top: 6rem
        
        .link
          color: $white
          display: block
          font-size: 1.2rem
          padding: 2rem ($bodyPadding + 2rem)
          
          &:hover
            background: $trueBlack
