@require '../../shared/framework.styl'

$bodyPadding = 1.5rem

.root
  align-items: center
  background: $conjureColorMain
  border-bottom: 1px solid $conjureColorMainSlightlyDifferent
  display: flex
  flex-direction: row
  height: 6rem
  justify-content: center
  padding: 0 $bodyPadding

  .content
    display: flex
    width: 100%
  
    &.wrap
      align-items: center
      width: 80rem
  
  .title
    background: transparent url(/static/images/logos/conjure/full-color-reversed.svg) no-repeat 0 0
    background-size: contain
    clear: none
    cursor: pointer
    height: 1.6rem
    width: 8.6rem
    disableSelect()
    hideText()
    
      
  .filler
    flex-grow: 1

  .userNav
    align-self: flex-end
    clear: none
    display: block
    height: 6rem
    position: relative
    right: -1.5rem
    width: 3rem + $bodyPadding + $bodyPadding

    .avatar
      display: block
      background: transparent url('/nada') no-repeat center center
      background-size: cover
      border-radius: 2rem
      height: 3rem
      position: absolute
      right: $bodyPadding
      top: $bodyPadding
      width: 3rem
    
    .links
      display: none
      
    &:hover
      background: $conjureColorMainSlightlyDifferent
      z-index: $layer1
      
      .links
        background: $conjureColorMainSlightlyDifferent
        display: block
        position: absolute
        right: 0rem
        top: 6rem
        
        .link
          color: $white
          display: block
          font-size: 1.2rem
          padding: 2rem ($bodyPadding + 2rem)
          
          &:hover
            background: $conjureColorMain
