@require '../../../../shared/framework.styl'

.root
  align-items: center
  background: #F9A369
  background: linear-gradient(to bottom right, #F9A369, #FFE9AD)
  display: flex
  flex-direction: row
  justify-content: center
  height: 45rem
  text-align: center

.inner
  display: flex
  flex-direction: row
  justify-content: space-between

  ul
    display: block
    font-size: 1.8rem
    font-weight: 100
    margin-right: 13rem
    text-align: left
    
    li
      margin-bottom: 1.6rem
      
      &:last-of-type
        margin-bottom: 0

  .ctaContainer
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center

    h2
      color: #fff
      font-size: 3.6rem
      font-weight: 400
      line-height: 4.6rem
      margin-bottom: 5.6rem
      max-width: 30rem
      
@media only screen and (max-width: 700px)
  .root
    height: auto
    padding: 3.2rem

  .inner
    flex-direction: column
    
    ul
      margin-bottom: 4.6rem
      margin-right: 0
