@require '../../../../shared/framework.styl'

.wrap
  display: block
  max-width: 80rem
  margin: 6rem auto 0
  
article
  header
    font-size: 1.4rem
    font-weight: 500
    margin-bottom: 1.4rem
    margin-top: 4.2rem
    
  &:first-of-type header
    margin-top: 0

ol
  display: flex
  flex-direction: row
  justify-content: flex-start
  margin-bottom: 2rem

  li
    font-size: 1.4rem
    line-height: 1.6rem

    &.status
      width: 10rem

      sup
        background: #25d2da
        border-radius: 1rem
        display: inline-block
        height: 1rem
        line-height: 1.6rem
        margin-right: 0.8rem
        vertical-align: middle
        width: 1rem
      &.running sup
        background: #25da43
      &.spundown sup
        background: #d2d2d2
    
    sup.svgIcon
      background: url(/static/images/icons/missing.svg) no-repeat center center
      display: inline-block
      height: 1.6rem
      margin-right: 0.8rem
      vertical-align: bottom
      width: 1.6rem
      
    &.logs
      width: 10rem
        
    &.repo
      width: 20rem
      
      sup
        background-image: url(/static/images/icons/repo.svg)
      &.privateRepo sup
        background-image: url(/static/images/icons/lock.svg)
      
    &.branch
      flex-grow: 1
    
      sup
        background-image: url(/static/images/icons/git-branch.svg)
   
// for filler (loading) content placehoders     
.filler
  opacity: 0.26

  del
    display: inline-block
    height: 1rem
    width: 8rem
    background: #d2d2d2
    border-radius: 1.6rem
  li.repo
  li.branch
    del
      width: 12.4rem

.emptyState
  margin-top: 12rem

