@require '../../../../shared/framework.styl'

.loader
  align-items: center
  display: flex
  flex-direction: column
  margin: 16rem 0

  .text
    color: $lightGray
    font-size: 2.4rem
    font-weight: 600
    margin-top: 4rem

.wrap
  display: block
  max-width: 80rem
  margin: 6rem auto 0
  padding: 0 $bodyPadding
  
article
  header
    font-size: 1.4rem
    font-weight: 500
    margin-bottom: 1.4rem
    margin-top: 4.2rem
    
  &:first-of-type header
    margin-top: 0

ol
  display: flex
  flex-direction: row
  justify-content: flex-start
  margin-bottom: 2rem

  li
    font-size: 1.4rem
    line-height: 1.6rem

    &.status
      width: 14rem

      sup
        background: #25d2da
        border-radius: 1rem
        display: inline-block
        height: 1rem
        line-height: 1.6rem
        margin-right: 0.8rem
        width: 1rem
      &.running sup
        background: #25da43
      &.spundown sup
        background: #d2d2d2
    
    sup.svgIcon
      background: url(/static/images/icons/missing.svg) no-repeat center center
      display: inline-block
      height: 1.6rem
      margin-right: 0.8rem
      vertical-align: bottom
      width: 1.6rem
        
    &.repo
      width: 26rem
      
      sup
        background-image: url(/static/images/icons/repo.svg)
      &.privateRepo sup
        background-image: url(/static/images/icons/lock.svg)
      
    &.branch
      flex-grow: 1
    
      sup
        background-image: url(/static/images/icons/git-branch.svg)
