extends ../templates/page

block body
  #container

block append bodyScripts
  script.
    staticContent.account = !{JSON.stringify(account)};
    staticContent.integrations = !{JSON.stringify(integrations)};