@require '../../../shared/framework.styl'

.root
  display: block
  margin: 0 auto
  max-width: 40rem

  h3
    font-size: 1.8rem
    font-weight: 500
    margin-bottom: 2rem
    
  .more
    margin-top: 8.6rem

  ol
    li
      border-bottom: 1px dashed #eee
      display: flex
      flex-direction: row
      justify-content: space-between
      padding: 1.2rem 0
      
      &:last-of-type
        border-bottom: none

      h4
        font-size: 1.6rem
