@require '../../shared/framework.styl'

.loader
  -webkit-animation: load3 1.4s infinite linear
  animation: load3 1.4s infinite linear
  background: $blue
  background: -moz-linear-gradient(left, $blue 10%, rgba(255, 255, 255, 0) 42%)
  background: -webkit-linear-gradient(left, $blue 10%, rgba(255, 255, 255, 0) 42%)
  background: -o-linear-gradient(left, $blue 10%, rgba(255, 255, 255, 0) 42%)
  background: -ms-linear-gradient(left, $blue 10%, rgba(255, 255, 255, 0) 42%)
  background: linear-gradient(to right, $blue 10%, rgba(255, 255, 255, 0) 42%)
  border-radius: 50%
  display: block
  font-size: 1rem
  height: 11rem
  margin: 50px auto
  position: relative
  text-indent: -9999em
  -webkit-transform: translateZ(0)
  -ms-transform: translateZ(0)
  transform: translateZ(0)
  width: 11rem

.loader:before
  background: $blue
  border-radius: 100% 0 0 0
  content: ''
  height: 50%
  left: 0
  position: absolute
  top: 0
  width: 50%

.loader:after
  background: $white
  border-radius: 50%
  bottom: 0
  content: ''
  height: 75%
  left: 0
  margin: auto
  position: absolute
  right: 0
  top: 0
  width: 75%

@-webkit-keyframes load3
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

@keyframes load3
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)
