@require '../../shared/framework.styl'

.wrap
  display: inline-block

.loader
  -webkit-animation: load3 1.4s infinite linear
  animation: load3 1.4s infinite linear
  background: $lightGray
  background: -moz-linear-gradient(left, $lightGray 10%, rgba(255, 255, 255, 0) 42%)
  background: -webkit-linear-gradient(left, $lightGray 10%, rgba(255, 255, 255, 0) 42%)
  background: -o-linear-gradient(left, $lightGray 10%, rgba(255, 255, 255, 0) 42%)
  background: -ms-linear-gradient(left, $lightGray 10%, rgba(255, 255, 255, 0) 42%)
  background: linear-gradient(to right, $lightGray 10%, rgba(255, 255, 255, 0) 42%)
  border-radius: 50%
  display: block
  font-size: 1rem
  margin: 0 auto
  position: relative
  text-indent: -9999em
  -webkit-transform: translateZ(0)
  -ms-transform: translateZ(0)
  transform: translateZ(0)

.size_small .loader
  height: 1.8rem
  width: 1.8rem
.size_medium .loader
  height: 4rem
  width: 4rem
.size_large .loader
  height: 6.2rem
  width: 6.2rem

.loader:before
  background: $lightGray
  border-radius: 100% 0 0 0
  content: ''
  height: 50%
  left: 0
  position: absolute
  top: 0
  width: 50%

.loader:after
  background: $white
  border-radius: 50%
  bottom: 0
  content: ''
  height: 75%
  left: 0
  margin: auto
  position: absolute
  right: 0
  top: 0
  width: 75%

@-webkit-keyframes load3
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

@keyframes load3
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)
