@import '../framework.styl'
@import './reset.styl'

html
  font-size: 62.5% // for easier rems -- 1rem ~= 10px, 2rem ~= 20px

body
  font-size: 2rem
  font-family: 'Asap', sans-serif
  cursor: default

a
  text-decoration: none
