@import '../framework.styl'
@import './reset.styl'

html
  font-size: 62.5% // for easier rems -- 1rem ~= 10px, 2rem ~= 20px

body
  font-size: 1.6rem
  font-family: system, "Segoe UI", Tahoma;
  cursor: default

a
  text-decoration: none
