@require '../../shared/framework.styl'

.root
  display: block
  margin: 0 auto
  max-height: 45rem
  padding: 0 2.4rem
  overflow: hidden
  overflow-y: scroll
  visibleScrollbar()

  .item
    border: 1px solid $blue
    display: block
    margin-bottom: 1rem

    &:last-of-type
      margin-bottom: 0

    .link
      color: $blue
      display: block
      font-weight: 400
      padding: 2rem

      &:hover
        background: $conjureColorMain
