@require '../../shared/framework.styl'

.root
  position: relative

  label
    disableSelect()
    color: $gray
    font-size: 1.2rem
    font-style: normal
    position: relative
    top: -1.6rem
    transition: color 0.2s, font-size 0.2s, top 0.4s
    white-space: nowrap
  
  &.initialPlaceholder
  &.toggle
    label
      color: $black
      font-size: 1.6rem
      font-style: italic
      top: 0.2rem

  &:not(.toggle)
    .input
      border: none
      border-bottom: 1px solid $lightGray
      box-sizing: border-box
      display: inline-block
      font-size: 1.4rem
      outline-width: 0
      padding: 0.6rem 0.8rem
      width: 100%

  textarea.input
    display: block
  
  &.toggle
    display: flex
    flex-direction: row-reverse
    
    label
      flex-grow: 1
      padding-left: 0.4rem
