@require '../../shared/framework.styl'

main
  padding-bottom: 6.4rem

  h2
    display: block
    font-size: 4rem
    margin-bottom: 6.4rem
    text-align: center
  
  h3
    display: block
    font-size: 2.4rem
    font-weight: 700
    margin: 3.6rem 0 1.8rem
  
  p
  span
    display: block
    font-size: 1.6rem
    line-height: 2rem
    margin-bottom: 2.4rem
    
  span
    font-weight: 500
