@require '../../shared/framework.styl'

$bodyPadding = 1.5rem

.root
  padding: $bodyPadding 0

.wrap
  display: block
  max-width: 80rem
  margin: 0 auto
  padding: 0 $bodyPadding

.onboarding
  display: block
  margin: 6rem 0
  text-align: center

  .label
    display: block
    font-size: 2rem
    font-weight: 500
  
  .description
    display: block
    font-size: 1.4rem
    font-weight: 200
    margin-top: 3.2rem

.listenButton
  margin: 0 auto

.anchorList
  width: 40rem
