@require '../../../../shared/framework.styl'

.root
  h1, h2, h3, h4, h5, h6
    display: block
    font-weight: 600

  h1
    font-size: 2rem
  h2
    font-size: 1.8rem
  h3, h4, h5, h6
    font-size: 1.6rem
  h4
    opacity: 0.86
  h5
    opacity: 0.74
  h6
    opacity: 0.60
    
  p
    display: block
    font-size: 1.4rem
    line-height: 2rem
  
  h1, h2, h3, h4, h5, h6, p
    margin-bottom: 2rem

  ol, ul
    font-size: 1.4rem
    list-style: decimal
    list-style-position: inside
    
    li
      margin-bottom: 1rem
      
      &:last-of-type
        margin-bottom: 0

  ul
    list-style: disc

  code
    background: #f7f7f7
    color: #1a1a1b
    font-size: 1.2rem
    font-weight: 500
    letter-spacing: 0.08rem
    padding: 0.1rem 0.4rem
  
  pre code
    display: block
    font-size: 1.4rem
    font-weight: 200
    line-height: 1.6rem
    padding: 2.4rem
