extends ./templates/page

block body
  #container

block append bodyScripts
  script.
    staticContent.reposByOrg = !{JSON.stringify(reposByOrg)};
    staticContent.account = !{JSON.stringify(account)};
