doctype html
html(lang="en")
  head
    block head
      block title
        title Conjure
      block meta
        meta(charset='utf-8')
        meta(name='theme-color', content='#ffffff')
      block headScripts
  body
    block body
    script.
      var staticContent = {};
    block bodyScripts
    script(src=`/build/${name}.js`)
