@require '../../../../shared/framework.styl'

$bodyPadding = 1.5rem

.wrap
  display: block
  max-width: 80rem
  margin: 6rem auto 0
  padding: 0 $bodyPadding

  main
    .button
      float: right
      margin-bottom: 4.2rem

    .sectionsParent
      display: flex
      flex-direction: row
      justify-content: space-between
      margin-bottom: 4.2rem
        
      section
        display: block
        margin-right: 10rem
        
        &:last-of-type
          margin-right: 0

        .sectionLabel
          display: block
          font-size: 1.6rem
          font-weight: 400
          margin-bottom: 3.2rem
          padding-bottom: 0.6rem

        > ol > li
          margin-top: 2.4rem
          width: 30rem

          .formInput
            display: inline-block
            width: 100%
            
            &.short
              margin-right: 8%
              width: 46%
              
              &:last-of-type
                margin-right: 0
