@require '../../shared/framework.styl'
@require '../../shared/reset.styl'

html
  font-size: 62.5% // for easier rems -- 1rem ~= 10px, 2rem ~= 20px

body
  color: $black
  cursor: default
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
  font-size: 1.6rem

a
a:visited
  color: #464cf1
  text-decoration: none
  transition: color 0.2s ease-out
a:hover
  color: #181ee1
