@require '../../framework.styl'

.root
  // styles have initial state of a large peach button
  border-radius: 0.3rem
  box-shadow: 0 0.1rem 0.3rem rgba(#000, 0.16)
  cursor: pointer
  display: inline-block
  gradient(#ffead3, #f9dcbd)
  height: 6.5rem
  text-align: center
  transition: box-shadow 0.2s ease-in-out
  white-space: nowrap
  width: 29rem

  &:hover
    box-shadow: 0 0.2rem 0.6rem rgba(#000, 0.2)

  .label
    color: #575653
    font-size: 2.4rem
    font-weight: bold
    line-height: 6.5rem

  /**
    Color alterations
  **/
  &.color_black
    gradient(rgba(#5d5d5d, 0.72), rgba(#3a3a3a, 0.72))

    &:hover
      gradient(#5d5d5d, #3a3a3a)

    .label
      color: #ddd
      font-size: 1rem
      
  &.color_pink
    gradient(#FF8EDE, darken(#FF8EDE, 4%))
    
    .label
      color: $black
      
  &.color_purple
    gradient(#fed3ff, #c2a3d2)
    border: 1px solid #c2a3d2
    
    .label
      color: #503a4b

  /**
    Size alterations
  **/
  &.size_small
    height: 3.2rem
    width: 9rem
    
    .label
      font-weight: normal
      line-height: 3.2rem
