@require '../../../../shared/framework.styl'

.root
  display: block
  width: 80rem
  height: 46rem
  background: $white
  margin: 8rem auto
  border: 1px solid $conjureColorMain
  border-radius: 3px
  box-shadow: 0 0.2rem 0.6rem rgba(#000, 0.36)
