@require '../../../../shared/framework.styl'

.root
.root *
  cursor: default
  disableSelect()

.root
  background: $white
  border: 1px solid $conjureColorMain
  border-radius: 3px
  box-shadow: 0 0.2rem 0.6rem rgba(#000, 0.36)
  display: block
  height: 46rem
  margin: 8rem auto
  overflow: hidden
  position: relative
  width: 80rem

  .toolbar
    background: $black
    display: block
    height: 2.4rem
    width: 100%

    ins
      border-radius: 100%
      display: inline-block
      height: 1rem
      margin-left: 0.76rem
      margin-top: 0.7rem
      width: 1rem

      &:nth-child(1)
        background: #ff5750
      &:nth-child(2)
        background: #ffb429
      &:nth-child(3)
        background: #25c439

  .content
    padding: 3.2rem 8rem

    .title
      clear: right
      color: rgba($black, 0.68)
      display: block
      float: left
      font-size: 2rem
      font-weight: bold

    ins
      background: #25c439
      border-radius: 3px
      clear: none
      color: $white
      display: block
      float: left
      font-size: 1rem
      margin-right: 1.2rem
      padding: 0.6rem

    .commentWrap
      clear: both
      display: block
      float: left
      margin-top: 1.2rem
      
      &.first
        margin-top: 3.2rem

      .author
        background: url(/static/images/gh-avatar-example.jpg) no-repeat 0 0
        background-size: contain
        border-radius: 5px
        display: inline-block
        height: 3.2rem
        margin-right: 2rem
        vertical-align: top
        width: 3.2rem
      
      .comment
        border: 1px solid #c0d3eb
        border-radius: 3px
        display: inline-block
        position: relative
        width: 32rem
        
        &.fromConjure
          margin-left: 5rem
          opacity: 0
          transition: opacity 1.2s ease-out
          
          &.inViewport
            opacity: 1
        
        &:not(.fromConjure)::before
          border-color: transparent
          border-right-color: #c0d3eb
          border-style: solid solid outset
          border-width: 8px
          content: " "
          display: block
          height: 0
          left: -16px
          pointer-events: none
          position: absolute
          right: 100%
          top: 9px
          width: 0

        &:not(.fromConjure) .header::before
          border-color: transparent
          border-right-color: #f1f8ff
          border-style: solid solid outset
          border-width: 8px
          content: " "
          display: block
          height: 0
          left: -15px
          pointer-events: none
          position: absolute
          right: 100%
          top: 9px
          width: 0

        .header
          background: #f1f8ff
          border-bottom: 1px solid #c0d3eb
          display: block
          font-size: 1.2rem
          padding: 1rem 1.4rem
          position: relative

          .handle
            font-weight: bold
            margin-right: 0.4rem
        
        .body
          color: $gray
          display: block
          font-size: 1.2rem
          line-height: 1.6rem
          padding: 1.2rem 1.4rem

          .simulateLink
            border-bottom: 1px solid #0366d6
            color: #0366d6

    .timeline
      clear: both
      display: block
      float: left
      opacity: 0.86
      padding: 1rem 0 0 7rem

      li
        display: block
        margin: 0.4rem 0
        
        &:last-of-type
          margin-bottom: 0
        
        .author
          background: url(/static/images/gh-avatar-example.jpg) no-repeat 0 0
          background-size: contain
          border-radius: 3px
          display: inline-block
          height: 1rem
          margin-right: 0.8rem
          vertical-align: top
          width: 1rem

        .commit
          color: $gray
          font-size: 0.8rem
          vertical-align: top

  .rightSide
    color: $gray
    font-size: 1.2rem
    opacity: 0.86
    position: absolute
    right: 8rem
    top: 11rem

    > li
      border-bottom: 1px solid rgba($lightGray, 0.48)
      margin-bottom: 1.6rem
      padding-bottom: 1.6rem
      width: 16rem
      
      &:last-of-type
        border-bottom: none
      
      .title
        display: block
        font-weight: bold
        margin-bottom: 0.8rem
        
      .teammates
        li
          display: block
          margin-bottom: 0.4rem
          
          &:last-of-type
            margin-bottom: 0
          
          .author
            background: $lightGray
            border-radius: 3px
            display: inline-block
            height: 1rem
            margin-right: 0.8rem
            vertical-align: top
            width: 1rem
          
          .handle
            vertical-align: top
