@import '../base.styl'

.header
  background: url(/images/views/landing/banner-bg.jpg) no-repeat bottom center
  background-size: cover
  display: block
  height: 64rem
  width: 100%

.navigation
  display: block
  padding: 1.6rem 2rem

  .sentry
    color: #F5E1E4
    font-size: 2rem

  .links
    clear: none
    float: right

.ctaContainer
  display: block
  text-align: center

  .firstImpression
    color: rgba(#403029, 0.89)
    display: block
    font-size: 4.8rem
    margin: 10rem 0 13.5rem

  .cta
    display: block
    margin: 0 auto

  .info
    color: rgba(#403029, 0.62)
    display: block
    font-size: 1.8rem
    margin-top: 1.6rem
    
.browserTeaser
  background: url(/images/views/landing/browser-teaser.jpg) no-repeat top center
  background-size: cover
  display: block
  height: 50rem
  margin: 9rem auto 0
  width: 80rem

.trueForm
  display: none
