@require '../../../shared/framework.styl'

.root
  display: inline-block
  position: relative
  
  .actions
    display: none
    height: 11.6rem
    left: 0px
    position: absolute
    top: 8rem
    width: 100%
    
    a
      bottom: 0
      color: $white
      display: inline-block
      font-size: 1rem
      font-weight: 100
      opacity: 0.32
      padding: 0.8rem 1.2rem
      position: absolute
      right: 0
      transition: opacity 0.2s ease-in
      text-transform: uppercase
      
      &:hover
        opacity: 1
      
      &.delete
      &.confirm
        background: #e64825
        
      &.cancel
        background: $gray
      
      &.confirm
        right: 10rem
  
  &:hover .actions
    display: block
