@require '../../../shared/framework.styl'

.wrap
  display: block
  max-width: 80rem
  margin: 6rem auto 0
  padding: 0 1.5rem

.card
  display: inline-block
  margin: 0 6.4rem 4rem 0
  position: relative
  
  .actions
    display: none
    height: 11.6rem
    left: 0px
    position: absolute
    top: 8rem
    width: 100%
    
    a
      background: #e64825
      bottom: 0
      color: $white
      display: inline-block
      font-size: 1rem
      font-weight: 100
      opacity: 0.32
      padding: 0.8rem 1.2rem
      position: absolute
      right: 0
      transition: opacity 0.2s ease-in
      text-transform: uppercase
      
      &:hover
        opacity: 1
  
  &:hover .actions
    display: block

.buttonWrap
  border-bottom: 1px solid darken($white, 16%)
  border-top: 1px solid darken($white, 10%)
  display: block
  gradient(darken($white, 6%), darken($white, 12%))
  marign-bottom: 8rem
  padding: 1.4rem 0

  .wrap
    margin-top: 0
