@require '../../../shared/framework.styl'

.wrap
  display: block
  max-width: 80rem
  margin: 6rem auto 0
  padding: 0 1.5rem

.card
  margin: 0 6.4rem 4rem 0

.buttonWrap
  display: block
  marign-bottom: 8rem
  gradient(darken($white, 6%), darken($white, 12%))
  border-bottom: 1px solid darken($white, 16%)
  border-top: 1px solid darken($white, 10%)
  padding: 1.4rem 0

  .wrap
    margin-top: 0
