@require '../../../shared/framework.styl'

.card
  margin: 0 6.4rem 4rem 0

.buttonWrap
  border-bottom: 1px solid darken($white, 16%)
  border-top: 1px solid darken($white, 10%)
  display: block
  gradient(darken($white, 6%), darken($white, 12%))
  marign-bottom: 8rem
  padding: 1.4rem 0

  .wrap
    margin-top: 0
