@require '../../shared/framework.styl'

// for height & width of card ui, see https://graphicdesign.stackexchange.com/questions/629/what-are-the-dimensions-of-a-business-card - i used the normal US ratio, which is 1.75

.root
  border: 1px solid darken($blue, 26%)
  border-radius: 0.4rem
  color: $white
  disableSelect()
  display: inline-block
  font-size: 1.4rem
  font-weight: 500
  gradient($blue, darken($blue, 12%))
  height: 11.2rem
  letter-spacing: 0.14rem
  overflow: hidden
  padding: 2.4rem
  position: relative
  transition: box-shadow 0.2s ease-in-out
  width: 23.2rem

  &:hover
    box-shadow: 0 0.2rem 0.6rem rgba(#000, 0.2)

  .number
    dispaly: block
    margin-top: 3.6rem

    .token
      margin-right: 0.8rem
      
      &:last-of-type
        margin-right: 0

  .details
    display: block
    margin-top: 1.2rem
    
    .expirationWrap
      display: block
      
      label
        display: block
        font-size: 0.8rem
        letter-spacing: 0.04rem
        margin-bottom: 0.4rem
        opacity: 0.68
        text-transform: uppercase
        white-space: wrap
      
      .expiration
        display: block
    
    .name
      display: block
      margin-top: 1.2rem
      white-space: nowrap
      
  .logo
    background: url(/static/images/logos/payment/nada.svg) no-repeat center center
    background-size: cover
    display: block
    height: 3rem
    position: absolute
    top: 2.4rem
    right: 2.4rem
    width: 4.79rem
    
    &.american-express
      background-image: url(/static/images/logos/payment/amex.svg)
    &.unionpay
      background-image: url(/static/images/logos/payment/unionpay.svg)
    &.diners-club
      background-image: url(/static/images/logos/payment/diners.svg)
    &.jcb
      background-image: url(/static/images/logos/payment/jcb.svg)
    &.mastercard
      background-image: url(/static/images/logos/payment/mastercard.svg)
    &.visa
      background-image: url(/static/images/logos/payment/visa.svg)
