@require '../../../../shared/framework.styl'

.wrap
  display: block
  max-width: 80rem
  margin: 6rem auto 0
  padding: 0 $bodyPadding

.emptyState
  margin-top: 12rem

.actionWrap
  display: block
  margin: -4rem 0 4rem
  text-align: center

.trueForm
.trueForm input
  display: none
