@require '../../../../base.styl'

$bodyPadding = 1.5rem

.root
  background: $conjureColorMain
  border-bottom: 1px solid $conjureColorMainSlightlyDark
  display: block
  height: 6rem
  
  .wrap
    display: block
    max-width: 80rem
    margin: 0 auto
    padding: 0 $bodyPadding
  
  .treeLocation
    clear: none
    float: left
    font-size: 2rem
    margin: 2rem 0 0 0
    
    .treeNav
    .separator
      clear: none
      float: left
      font-size: 1.6rem
      margin: 0.3rem 0 0 0.8rem
      
      &.treeNav:not(.current)
        cursor: pointer
      
      &.separator
        color: $conjureColorMainDark
      
    .serviceName
      color: $conjureColorMainDark
      font-size: inherit
      margin: 0
      disableSelect()

  .userNav
    clear: none
    display: block
    height: 6rem
    float: right
    margin-right: -$bodyPadding
    position: relative
    width: 3rem + $bodyPadding + $bodyPadding

    .avatar
      display: block
      background: transparent url('/nada') no-repeat center center
      background-size: cover
      border-radius: 2rem
      height: 3rem
      position: absolute
      right: $bodyPadding
      top: $bodyPadding
      width: 3rem
    
    .links
      display: none
      
    &:hover
      background: $black
      
      .links
        background: $black
        display: block
        position: absolute
        right: 0rem
        top: 6rem
        
        .link
          color: $white
          display: block
          font-size: 1.2rem
          padding: 2rem ($bodyPadding + 2rem)
          
          &:hover
            background: $trueBlack
