@require '../../../shared/framework.styl'

$bodyPadding = 1.5rem

.content
  header
    display: block
    text-align: center
    margin: 3rem 0 6.4rem

    sup
      display: block
      font-size: 11rem
      margin-bottom: 3rem

    span
      display: inline-block
      font-weight: 300
      height: 10rem
      line-height: 10rem
      margin-left: 4rem
      vertical-align: top

  main
    .button
      float: right
      margin-bottom: 4.2rem
      
    .listOuterWrap
      display: flex
      justify-content: center

      .listWrap
        display: inline-flex
        flex-direction: column
        
      .button
        align-self: flex-end

    .anchorList
      margin: 0 auto 4.2rem
      width: 40rem
