@require '../../../base.styl'

.root
  padding: 10px

.repoName
  font-weight: bold
  margin-bottom: 10px

.anchor
.anchor:visited
  background: transparent
  border: 1px solid purple
  color: purple
  display: inline-block
  padding: 8px 12px

  &:hover
    background: lighten(purple, 80%)
