@require '../../shared/framework.styl'

.root
  .header
    display: block
    text-align: center
    margin: 3rem 0 6.4rem

    sup
      display: block
      font-size: 11rem
      margin-bottom: 3rem

    span
      border-bottom: 1px dotted $lightGray
      font-size: 2rem
      padding-bottom: 0.4rem

  .body
    display: block
    font-weight: 300
    height: 10rem
    line-height: 10rem
    margin: 0 0 6rem 4rem
    text-align: center
    vertical-align: top
