@require '../../../../../shared/framework.styl'

.root
  display: flex
  flex-direction: column

  .list
    max-height: 20rem
    overflow-y: scroll
    
    li
      font-size: 1.4rem
      line-height: 1.8rem
      list-style: inside
    
  &.expanded .list
    visibleScrollbar()

.toggle
  margin-top: 1.6rem
