@require '../../shared/framework.styl'

.root
  display: block

.date
  font-size: 1rem

.readMore
  border-bottom: 1px solid #464cf1
  display: inline-block
  margin-top: 2rem
  padding-bottom: 0.4rem

.post
	margin-top: 12rem
	
	&.first
		margin-top: 0
