@require '../../../../shared/framework.styl'

.root
  align-items: center
  display: inline-flex
  flex-direction: row
  font-size: 1.4rem

  img
    border-radius: 100%
    display: block
    height: 3.2rem
    width: 3.2rem
  
  span
    color: #7B7C8E
    display: block
    margin-left: 1.6rem
    
    a
      color: #F9A369
      font-style: italic
