@require '../../../shared/framework.styl'

span
  position: relative

  label
    font-size: 1.2rem
    position: absolute
    top: -1.2rem
    transition: font-size 0.2s, top 0.4s
  
  &.initialPlaceholder
    label
      font-size: 1.6rem
      top: 0.2rem

  input
    display: bock
    border: none
    border-bottom: 1px solid $gray
    font-size: 1.4rem
    outline-width: 0
    padding: 0.6rem 0.8rem
