@require '../../../base.styl'

// .root
//   padding: 10px

.header
  background: $conjureColorMain
  display: block
  height: 6rem
  
  .avatar
    background: transparent url('/nada') no-repeat center center
    background-size: cover
    border-radius: 2rem
    clear: none
    display: block
    float: right
    height: 4rem
    margin: 1rem 1rem 0 0
    width: 4rem

.repo
  clear: both
  float: left
  margin-bottom: 10px
