@require '../../../base.styl'

$bodyPadding = 1.5rem

// .root
//   padding: 10px

.header
  background: $conjureColorMain
  border-bottom: 1px solid $conjureColorMainSlightlyDark
  display: block
  height: 6rem
  
  // mostly same as in Landing - todo: consolidate this style?
  .serviceName
    clear: none
    color: $conjureColorMainDark
    float: left
    font-size: 2rem
    margin: 2rem 0 0 $bodyPadding
  
  .avatar
    background: transparent url('/nada') no-repeat center center
    background-size: cover
    border: 1px solid $conjureColorMainSlightlyDark
    border-radius: 2rem
    clear: none
    display: block
    float: right
    height: 3rem
    margin: $bodyPadding $bodyPadding 0 0
    width: 3rem

.repo
  clear: both
  float: left
  margin-bottom: 10px
