@require '../../base.styl'

.treeNav
.separator
  font-size: 1.6rem
  
  &.treeNav:not(.current)
    cursor: pointer
  
  &.separator
    color: $conjureColorMainDark
  
.serviceName
  color: $conjureColorMainDark
  font-size: inherit
  margin: 0
  disableSelect()
