box-shadow()
  -webkit-box-shadow: arguments
  -moz-box-shadow: arguments
  box-shadow: arguments
  
disableSelect()
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

gradient(from = #000, to = #EEE)
  background:  from
  background-image: -webkit-gradient(linear, left top, left bottom, from(from), to(to))
  background-image: -webkit-linear-gradient(top, from,  to)
  background-image: -moz-linear-gradient(top, from, to)
  background-image: -ms-linear-gradient(top, from, to)
  background-image: -o-linear-gradient(top, from, to)
  background-image: linear-gradient(top, from, to)

visibleScrollbar()
  &::-webkit-scrollbar
    -webkit-appearance: none
    width: 0.7rem
  
  &::-webkit-scrollbar-thumb
    background-color: rgba(0, 0, 0, 0.5)
    border-radius: 0.4rem
    -webkit-box-shadow: 0 0 0.1rem rgba(255, 255, 255, 0.5)

hideText()
  color: transparent
  text-indent: -9999rem
