// colors
$black = #322f33
$trueBlack = #000
$white = #fff
$trueWhite = #fff
$gray = #636560
$lightGray = #b7b9b3
$blue = #6567a2

// company colors
$conjureColorMain = #fff9dd
$conjureColorMainDark = #b5af91
$conjureColorMainSlightlyDark = darken($conjureColorMain, 3%)

// z-index layers
$layer0 = 0
$layer1 = 100
$layer2 = 200
$layer3 = 300