// colors
$black = #322f33
$trueBlack = #000
$white = #fff
$trueWhite = #fff
$gray = #636560
$lightGray = #b7b9b3
$blue = #6567a2

// company colors
$conjureColorMain = #484A5F
$conjureColorMainSlightlyDifferent = #8184a7
$conjureColorMainVeryDifferent = #c0c3e8

$conjureColorSecondary = #f6f7b1
$conjureColorSecondaryLight = rgba($conjureColorSecondary, 12%)
$conjureColorTertiary = #b495ff
$conjureColorTertiaryLight = rgba($conjureColorTertiary, 12%)

// z-index layers
$layer0 = 0
$layer1 = 100
$layer2 = 200
$layer3 = 300
