@require '../../../shared/framework.styl'

$bodyPadding = 1.5rem


.wrap
  display: block
  max-width: 80rem
  margin: 0 auto
  padding: 0 $bodyPadding

header
  display: block
  text-align: center
  margin: 3rem 0 6.4rem

  sup
    display: block
    font-size: 11rem
    margin-bottom: 3rem

  span
    border-bottom: 1px dotted $lightGray
    font-size: 2rem
    padding-bottom: 0.4rem

article
  display: block
  text-align: center

  sup
    display: inline-block
    background: $blue
    border-radius: 10rem
    color: $white
    font-size: 4rem
    font-weight: 300
    height: 10rem
    line-height: 10rem
    text-align: center
    width: 10rem

  span
    display: inline-block
    font-weight: 300
    height: 10rem
    line-height: 10rem
    margin-left: 4rem
    vertical-align: top
