@require '../../shared/framework.styl'

.wrap
  display: block
  max-width: 80rem
  margin: 6rem auto 0
  padding: 0 $bodyPadding
  
.paging
  text-align: center
  margin-bottom: 6rem
  
.headerContent
  flex-grow: 1
