doctype html
html(lang="en")
  head
    block head
      block title
        title Voyant
      block meta
        meta(charset='utf-8')
        meta(name='theme-color', content='#ffffff')
      block headScripts
      block headStyles
        link(rel='stylesheet', type='text/css', href=`/build/${name}.js.css`)
  body
    block body
    script.
      var staticContent = {};
    block bodyScripts
    script(src=`/build/${name}.js`)
