doctype html
html(lang="en")
  head
    block head
      block title
        title SentryCI
      block meta
        meta(charset='utf-8')
        meta(name='theme-color', content='#ffffff')
      block headScripts
  body
    block body
    block bodyScripts
      script(src='/build/' + name + '.js')
