@import '../base.styl'

.header
.gif
  display: block
  position: absolute

.header
  bottom: 0
  display: block
  color: $trueWhite
  font-size: 6rem
  font-weight: 300
  line-height: 20rem
  text-align: center
  text-shadow: 0 0.4rem 1rem rgba($trueBlack, 0.8)
  width: 100%

.gif
  background: $black
  background-size: cover
  height: 100%
  left: 0
  top: 0
  width: 100%
