@require '../../shared/framework.styl'

.root
  display: inline-block

  label
    color: $gray
    font-size: 1.2rem
    font-style: normal
    left: 0
    pointer-events: none
    position: absolute
    top: -2rem
    transition: color 0.2s, font-size 0.2s, top 0.4s, left 0.4s

  &.initialPlaceholder
    label
      color: $black
      font-size: 1.6rem
      font-style: italic
      left: 1.4rem
      top: 0.9rem

.dropdown
  background: $white
  border: 1px solid $lightGray
  cursor: pointer
  display: block
  font-weight: 100
  font-size: 1.4rem
  height: 3.6rem
  padding: 0 1.4rem
  position: relative
  width: 14rem
  disableSelect()
  
  &.disabled
    background: #fafafa
    cursor: default

.options
  border-top: 4px solid $lightGray
  border-bottom: 1px solid $lightGray
  display: block
  left: -1px
  max-height: calc(19.8rem + 9px) // 5.5 options, with their borders
  overflow-y: scroll
  position: absolute
  top: 100%
  width: calc(100% + 2px)
  z-index: $layer1

.option
  background: $white
  border: 1px solid $lightGray
  border-top: none
  color: $black
  display: block
  font-size: 1.4rem
  height: 3.6rem
  line-height: 3.6rem
  overflow: hidden
  padding: 0 1.4rem
  white-space: nowrap
  z-index: $layer1

  &:hover
    background: $conjureColorSecondaryLight
    
  &:last-of-type
    border-bottom: none

.selection
  display: flex
  font-weight: 400
  line-height: 3.6rem
  width: 100%

  .text
    flex-grow: 1
  
  .arrow
    color: $lightGray
