@require '../../shared/framework.styl'

.root
  border: 1px solid #5d5d5d
  cursor: pointer
  display: inline-block
  font-weight: 100
  font-size: 1.4rem
  padding: 1rem 1.4rem
  position: relative
  disableSelect()

  .options
    display: block
    left: -1px
    position: absolute
    top: 100%
    width: calc(100% + 2px)
    
    .option
      $borderColor = $conjureColorMain

      background: #eee
      border: 1px solid $borderColor
      border-bottom: none
      border-top-color: lighten($borderColor, 36%)
      display: block
      height: 100%
      line-height: 4.6rem
      overflow: hidden
      padding: 0 1.4rem
      white-space: nowrap
      
      &:last-of-type
        border-bottom: 1px solid $borderColor

      &:hover
        background: $conjureColorSecondaryLight
