@require '../../../shared/framework.styl'

h2
h3
  color: $black
  display: block
  font-size: 2.4rem
  font-weight: 700
  margin-bottom: 3.6rem
h3
  font-size: 1.8rem

p
  display: block
  font-size: 1.4rem
  font-weight: 100
  margin-top: 1.6rem
  
  &:first-of-type
    margin-top: 0

.code
  font-family: monospace
  font-weight: 400
  
.codeBlock
  display: block

  pre
    background: $gray
    color: $white
    display: inline-block
    font-family: monospace
    font-weight: 400
    margin-top: 1.6rem
    padding: 1.2rem

hr
  display: block
  height: 1px
