@require '../../../../shared/framework.styl'

.root
  h1, h2, h3, h4, h5, h6
    display: block
    font-weight: 600

  h1
    font-size: 2.4rem
  h2
    font-size: 1.8rem
    margin-top: 8.2rem
  h3, h4, h5, h6
    font-size: 1.6rem
  h4
    opacity: 0.86
  h5
    opacity: 0.74
  h6
    opacity: 0.60
    
  p
    display: block
    font-size: 1.4rem
    line-height: 2rem
  
  h1, h2, h3, h4, h5, h6, p
    margin-bottom: 2rem
  
  pre
    background: #efefef
    display: block
    font-size: 1.4rem
    letter-spacing: 0.08rem
    line-height: 1.6rem
    padding: 2.4rem
