@require '../../../shared/framework.styl'

.content
  text-align: center

.list
  display: block
  margin: 14rem 0 12rem
  
  article
    display: flex
    flex-direction: row
    justify-content: center

    .loader
      margin-right: 2rem
    
    .text
      font-size: 1.6rem
      font-weight: 500
